@import '../../../SCSS/variables.scss';


.desktop {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: $colorBackgroundBlue;
    width: 100vw;
    height: 100vh;
    position: relative;

    .taskbar {
        bottom: 0;
    }
}