@import "../../../SCSS/variables.scss";

.menu {
  display: flex;
  position: absolute;
  z-index: 10;
  bottom: 40px;
  left: 0px;
  width: 250px;
  height: 400px;
  background-color: $colorTaskBar;

  .left-text {
    transform: rotate(-180deg);
    background-color: $colorDarkGray;
    writing-mode: vertical-rl;
    padding: 10px 0;
    font-size: 1.7rem;
    font-weight: 700;
    color: $colorTaskBar;
    span {
      color: white;
      font-weight: 500;
    }
  }

  .shortcut-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  .menu-bottom {
    border-top: 2px solid $colorDarkGray;
    padding-bottom: 5px;

    &:before {
      background: $colorLightGray;
      height: 2px;
      content: "";
      display: block;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}
