@import '../../../SCSS/variables.scss';

.border {
    border-left: 3px solid $colorLightGray;
    border-top: 3px solid $colorLightGray;
    border-right: 3px solid $colorDarkGray;
    border-bottom: 3px solid $colorDarkGray;
}

.border-inverted {
    border-left: 3px solid $colorDarkGray;
    border-top: 3px solid $colorDarkGray;
    border-right: 3px solid $colorLightGray;
    border-bottom: 3px solid $colorLightGray;
}