// COLOURS
$colorBackgroundBlue: #018282;
$colorTaskBar: #bfbfbf;
$colorLightGray: #dfdfdf;
$colorMediumGray: #808080;
$colorDarkGray: #4b4b4b;
$colorBlue: #0100aa;

// FONT
$font: "MS Sans Serif", sans-serif;
$fontDos: "windows command prompt", monospace;
$fontSize: 1.2rem;
$fontRoboto: "Roboto Mono", monospace;