// COLOURS
$colorBackgroundBlue: #018282;
$colorTaskBar: #bfbfbf;
$colorLightGray: #dfdfdf;
$colorLightMedGray: #d4d3d3;
$colorMediumGray: #808080;
$colorDarkGray: #4b4b4b;
$colorBlue: #0100aa;
$colorWin95Gradient: linear-gradient(to right, #000181, #0874b6);
$colorWin95GradientReverse: linear-gradient(to left, #000181, #0874b6);
// FONT
$font: "MS Sans Serif", sans-serif;
$fontBSOD: "BSOD", sans-serif;
$fontDos: "windows command prompt", monospace;
$fontSize: 1.2rem;
$fontRoboto: "Roboto Mono", monospace;
